<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- DispatcherServlet Context: defines this servlet's request-processing 
		infrastructure -->

	<!-- Scans within the base package of the application for @Components to 
		configure as beans -->
	<!-- @Controller, @Service, @Configuration, etc. -->
	<context:component-scan base-package="com.pupil" />

	<!-- Enables the Spring MVC @Controller programming model -->
	<mvc:annotation-driven />

	<bean id="velocityConfigurer"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath">
			<value>/WEB-INF/views</value>
		</property>
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">utf-8</prop>
				<prop key="output.encoding">utf-8</prop>
			</props>
		</property>
	</bean>

    <bean id= "viewResolver"  
    class= "org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">  
             <property name= "cache" value= "true"/>
             <property name= "prefix" value= "/"/>
             <property name= "suffix" value= ".vm"/>  
             <property name= "contentType">
                       <value>text/html;charset=utf-8</value>  
             </property>
             <property name="toolboxConfigLocation">  
                       <value>/WEB-INF/toolbox.xml</value>  
             </property>
             <property name="viewClass" value="com.pupil.velocity.tools.VelocityToolbox20View"/>
             
             <property name="layoutUrl" value="layout/layout.vm" /> 
             <property name="allowSessionOverride" value="true"/><!-- 解决@sessionAttributes 错误问题 -->
             <property name="allowRequestOverride" value="true"/>
             <property name="exposeSessionAttributes" value="true"/><!-- 在velocity 中能访问到 session 中的信息 -->  
             <property name="requestContextAttribute" value="rc"/>  
             <property name="exposeRequestAttributes" value="true"/>
             <property name="exposeSpringMacroHelpers" value="true" />
    </bean> 
    
    <mvc:interceptors>
   		<mvc:interceptor>
   			<mvc:mapping path="introducer1" />
   			<mvc:mapping path="introducer2" />
   			<mvc:mapping path="introducer3" />
   			<mvc:mapping path="introducer4" />
   			<mvc:mapping path="introducer5" />
   			<mvc:mapping path="q1" />
   			<mvc:mapping path="q2" />
   			<mvc:mapping path="q3" />
   			<mvc:mapping path="q4" />
   			<mvc:mapping path="q5" />
   			<mvc:mapping path="q6" />
   			<mvc:mapping path="q7" />
   			<mvc:mapping path="q8" />
   			<mvc:mapping path="q9" />
   			<mvc:mapping path="q10" />
   			<mvc:mapping path="q11" />
   			<mvc:mapping path="q12" />
   			<mvc:mapping path="q13" />
   			<mvc:mapping path="q14" />
   			<mvc:mapping path="q15" />
   			<mvc:mapping path="q16" />
   			<mvc:mapping path="q17" />
   			<mvc:mapping path="q18" />
   			<mvc:mapping path="q19" />
   			<mvc:mapping path="q20" />
   			<mvc:mapping path="q21" />
   			<mvc:mapping path="q22" />
   			<mvc:mapping path="q23" />
   			<mvc:mapping path="q24" />
   			<mvc:mapping path="q25" />
   			<mvc:mapping path="q26" />
   			<mvc:mapping path="q27" />
   			<mvc:mapping path="q28" />
   			<mvc:mapping path="q29" />
   			<mvc:mapping path="q30" />
   			<mvc:mapping path="q31" />
   			<mvc:mapping path="q32" />
   			<mvc:mapping path="q33" />
   			<mvc:mapping path="q34" />
   			<mvc:mapping path="q35" />
   			<mvc:mapping path="q36" />
   			<mvc:mapping path="q37" />
   			<mvc:mapping path="q38" />
   			<mvc:mapping path="q39" />
   			<mvc:mapping path="q40" />
   			<mvc:mapping path="q41" />
   			<mvc:mapping path="q42" />
   			<mvc:mapping path="q43" />
   			<mvc:mapping path="q44" />
   			<mvc:mapping path="q45" />
   			<mvc:mapping path="q46" />
   			<mvc:mapping path="q47" />
   			<mvc:mapping path="q48" />
   			<mvc:mapping path="q49" />
   			<mvc:mapping path="q41" />
   			<mvc:mapping path="q42" />
   			<mvc:mapping path="q43" />
   			<mvc:mapping path="q44" />
   			<mvc:mapping path="q45" />
   			<mvc:mapping path="q46" />
   			<mvc:mapping path="q47" />
   			<mvc:mapping path="q48" />
   			<mvc:mapping path="q49" />
   			<mvc:mapping path="q40" />
   			<mvc:mapping path="q41" />
   			<mvc:mapping path="q42" />
   			<mvc:mapping path="q43" />
   			<mvc:mapping path="q44" />
   			<mvc:mapping path="q45" />
   			<mvc:mapping path="q46" />
   			<mvc:mapping path="q47" />
   			<mvc:mapping path="q48" />
   			<mvc:mapping path="q49" />
   			<mvc:mapping path="q50" />
   			<mvc:mapping path="q51" />
   			<mvc:mapping path="q52" />
   			<mvc:mapping path="q53" />
   			<mvc:mapping path="q54" />
   			<mvc:mapping path="q55" />
   			<mvc:mapping path="q56" />
   			<mvc:mapping path="q57" />
   			<mvc:mapping path="q58" />
   			<mvc:mapping path="q59" />
   			<mvc:mapping path="q60" />
   			<mvc:mapping path="q61" />
   			<mvc:mapping path="q62" />
   			<mvc:mapping path="q63" />
   			<mvc:mapping path="q64" />
   			<mvc:mapping path="q65" />
   			<mvc:mapping path="q66" />
   			<mvc:mapping path="q67" />
   			<mvc:mapping path="q68" />
   			<mvc:mapping path="q69" />
   			<mvc:mapping path="q70" />
   			<mvc:mapping path="q71" />
   			<mvc:mapping path="q72" />
   			<mvc:mapping path="q73" />
   			<mvc:mapping path="q74" />
   			<mvc:mapping path="q75" />
   			<mvc:mapping path="q76" />
   			<mvc:mapping path="q77" />
   			<mvc:mapping path="q78" />
   			<mvc:mapping path="q79" />
   			<mvc:mapping path="q80" />
   			<mvc:mapping path="q81" />
   			<mvc:mapping path="q82" />
   			<mvc:mapping path="q83" />
   			<mvc:mapping path="q84" />
   			<mvc:mapping path="q85" />
   			<mvc:mapping path="end" />
   			<bean class="com.pupil.interceptor.UserLoginInterceptor" />
		</mvc:interceptor> 
		</mvc:interceptors>

	<!-- 数据源配置 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:MyBatisConfiguration.xml" /> 
		<property name="mapperLocations" value="classpath:mapper/*Mapper.xml" />
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
		<constructor-arg index="1" value="BATCH" />
	</bean>

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:config/jdbc.properties</value>
		</property>
		<property name="fileEncoding">
			<value>UTF-8</value>
		</property>
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<!-- 配置文件名 -->
			<list>
				<value>pupil</value>
			</list>
		</property>
	</bean>

</beans>
