body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
	margin:0;
	padding:0;
	font-family: "微软雅黑";
	font-size:12px/1.5;
}
i{font-style: normal;}
body{position: relative;height: 100%;}
img{border:none;}
html{flow-y:scroll;height:100%;}  
table{border-collapse: collapse;border-spacing: 0;}
em{font-style:normal}
em.error{display:block;color: #911;background-color: #fcdede;border-color: #d2b2b2;line-height: 35px;border-radius: 5px;text-align: center;margin-bottom: 5px;}
ul, li, ol {
list-style: none;
}
ul{display:block;}
a{text-decoration: none;color: inherit;cursor:pointer;}
a.common{color:#606060}
a.common:hover{text-decoration:underline;color:#00c0ff}
/* Clear Fix */ 
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; } 
.clearfix { display:inline-block; } 
/* Hide from IE Mac */ 
.clearfix {display:block;} 
/* End hide from IE Mac */ 
/* end of clearfix */

.body-wrapper {position: relative;min-height: 100%;}

.intro-content-container{margin:0 auto;width:960px;}
.main-body{min-height:400px;}
.intro-content-container p.head{font-size:21px;color:#6d6d6d;padding: 30px 170px;line-height: 30px;margin: 40px 0 50px 0;text-align: center;}
.intro-content-container p.head img {width:600px;}
.intro-content-container ul.notice{color:#33a74d;font-size:18px;padding: 0 230px;}
.intro-content-container ul.notice li{margin-bottom:10px;}
.intro-content-container ul.notice span.no1{background: url(../img/no1.png) no-repeat 0 0;text-indent: 45px;display: inline-block;line-height: 35px;}
.intro-content-container ul.notice span.no2{background: url(../img/no2.png) no-repeat 0 0;text-indent: 45px;display: inline-block;line-height: 35px;}
.intro-content-container ul.notice span.no3{background: url(../img/no3.png) no-repeat 0 0;text-indent: 45px;display: inline-block;line-height: 35px;}
.intro-content-container .bot{text-align:center}
.intro-content-container .bot p.sign{color:#6d6d6d;font-size:18px;line-height: 30px;padding-bottom:30px;border-bottom:1px solid #e5e5e5;margin: 40px 234px 20px;}
.intro-content-container .bot h1{font-size:24px;color:#808080;font-weight:100}
.intro-content-container .bot a{color:white;background-color:#28c065;font-size:24px;padding:10px 40px;border-radius:5px;margin: 20px;display:inline-block;}
.intro-content-container .bot p.warn{color:#db0000;font-size:14px;}
.intro-content-container img{width:960px;}
/*main head*/
.index-content-container{margin:0 auto;width:960px;}
.main-content-container{margin:0 auto;width:960px;margin-bottom:200px;}
.main-top-container{border-bottom:1px solid #d2d2d2}
.main-top{margin: 0 auto;width: 960px;}
.main-top h4{color: #47644e;float: left;line-height: 25px;padding: 10px;padding-left: 0;font-size: 20px;}
.main-top h5{background: url(../img/avatar.png) no-repeat 0 13px;color: #47644e;float: right;line-height: 25px;text-indent: 25px;padding: 10px;padding-left: 0;font-size: 14px;}
.welcome{text-align:center;font-size: 56px;padding: 50px;letter-spacing: 10px;}
ul.steps{text-align:center;margin-left: 228px;}
ul.steps li{float:left;padding: 8px;}

li.step{}
li.step p{margin-top: 10px;line-height: 25px;}
li.process{}
#profile{text-align:center;margin-top: 100px;margin-bottom: 20px;}
#profile a{display:inline-block;background-color:#31628a;color:white;padding:15px 40px;}
.bottom{background: url(../img/bottom.png) no-repeat 0 0;height:261px;}
.footer-container{}
.footer{margin:0 auto;width:960px;color:#999;font-size:12px;margin-top: 5px;margin-bottom:25px;border-top: 1px solid #d2d2d2;padding-top: 10px;text-align: center;}

.test-wrap{margin:0 30px;border-bottom:1px solid #d2d2d2}
.test-wrap .test{padding:40px 0 20px;}
.test-wrap ul{float:left;}
.test-wrap ul li{display:inline-block;font-size:14px;padding:4px;vertical-align: middle;}

.test-wrap ul li em{color:#d2d2d2;display: block;text-align: center;}
.test-wrap ul li em span{display:block;font-size: 25px;}
.test-wrap ul li.done em{color:black;display: block;text-align: center;}
.test-wrap ul li.done em span{color:#d71a21;}
.time-cost{float:left;color:black;margin-left: 25px;margin-top: 10px;}
.time-cost ul li{padding:2px}
.time-cost ul li h4{font-size:32px;}
.question{margin-left:20px;margin-top: 30px;margin-right:20px;}
.question .content{float:left;width:600px;}
.question .timer{float:left;}
.question .q-head h1.title{color:#999999;font-size: 16px;width: 500px;line-height: 25px;margin: 25px auto;}
.question .q-head h1.title img{width:500px;}
.question .q-head h1.intelligence img{width: 760px;}
.question .q-head h1.number{position:relative;color:#2E2C2C;font-size:16px;font-weight: normal;margin-left: 10px;padding-right: 190px;letter-spacing: 1px;}
.question .q-head h1.number span{font-weight:bold;font-size:16px;}
.question .q-head h1.number p{font-weight:normal;text-align: center;margin-top:10px;}
.question .q-head h1.number p span{display:block;text-align:left;}
.question .q-head h1.number p em{display:block;text-align: center;margin:20px 0;}
.question .q-head h1.number img{width:300px}
.question .q-head h1.number img.small{width:250px;margin-right:50px;}
.question .q-head h1.number .clock{position:absolute;border-radius:20px;border:2px solid red;top:0;right:0;font-size: 20px;padding: 10px;}
.question .choice-wrap{margin-top:10px;}
.question .choice-wrap .choice{width:230px;float:left;position:relative;text-align: center;margin-right:20px;border:2px solid white}
.question .choice-wrap .choice img{max-width: 230px;max-height: 230px;}
.question .choice-wrap .choice p{font-size:30px;}
.question .choice-wrap .img-wrap{width:230px;height:230px;overflow: hidden;text-align: center;display: table;}
.question .choice-wrap .img-wrap em{display: table-cell;vertical-align: middle;}
.question .choice-wrap .img-wrap-b{width:220px;height:220px;overflow: hidden;text-align: center;display: table;}
.question .choice-wrap .img-wrap-b em{display: table-cell;vertical-align: middle;}
.question .choice-wrap .choice2{width:220px;float:left;position:relative;text-align: center;border:2px solid white}
.question .choice-wrap .choice2 img{max-width:220px;}
.question .choice-wrap .choice2 p{font-size:30px;}
.hidden{display:none;}
.question .choice-wrap .img-wrap-s{width:180px;height:180px;overflow: hidden;text-align: center;display: table;}
.question .choice-wrap .img-wrap-s em{display: table-cell;vertical-align: middle;}
.question .choice-wrap .choice3{width:180px;float:left;position:relative;text-align: center;border:2px solid white}
.question .choice-wrap .choice3 img{max-width:180px;}
.question .choice-wrap .choice3 p{font-size:30px;}

.question .choice-wrap .img-wrap-h{width:420px;height:420px;overflow: hidden;text-align: center;display: table;}
.question .choice-wrap .img-wrap-h em{display: table-cell;vertical-align: middle;}
.question .choice-wrap .choice4{width:420px;float:left;position:relative;text-align: center;border:2px solid white}
.question .choice-wrap .choice4 img{max-width:420px;}
.question .choice-wrap .choice4 p{font-size:30px;}

.question img.yes{width:200px;position:absolute;top:50%;left:50%;display:none;margin: -100px 0 0 -100px;}
.question ul{margin-left:150px;margin-top:10px;}
.question ul li{padding: 10px;}
.question .iradio_square-green{margin-top:-3px;}
.question label.error{cursor:pointer;margin-left:10px;color:#F20202}
.question label{cursor:pointer;}
.single label{font-size: 17px;margin-left: 10px;cursor:pointer;}
.dimension label{font-size: 15px;margin-right: 10px;cursor:pointer;}
.operation{margin-top:50px;margin-bottom:50px;font-size: 22px;text-align:center;}
.operation .next{display:inline-block;background-color:#31628a;color:white;;padding:15px 70px;margin-left: -100px;}
ul.mt10{margin-top:10px}
.profile-wrap{margin:70px;}
.profile-wrap .head{border-bottom:1px solid #d2d2d2;padding-bottom: 10px;}
.profile-wrap .head h1{font-weight:100}
.profile-wrap .head h1 span{color:#d71a21;font-size: 16px;margin-left: 10px;}
.profile-wrap .part{margin-top:20px;}
ul.part-content{border-bottom:1px solid #d2d2d2;padding-bottom:15px;}
ul.part-content li{float:left;}
.profile-wrap .part li.title{width: 170px;color:#d71a21;font-size: 20px;}
ul.item{margin-bottom:15px;}
ul.item li.left{color:#999;width: 125px;}
ul.item li.middle{margin-left:10px;}
ul.item li.right{color:#999;font-size:14px;margin-left:10px;}
ul.item li.right label{cursor:pointer}
span.gender{margin-right:40px;}
p.dim{color:#31628a;margin-bottom: 20px;}
p.dim span{color:#999}
.dim7 label{margin-right:5px;font-size: 14px;cursor:pointer;}
.dim7 a{padding: 5px 11px;margin:0 5px;border:1px solid white;color:#999}
.dim7 a:hover{border:1px solid #d71a21;color:#d71a21;}
.sep{width:100%;border-bottom:1px solid #d2d2d2;margin-bottom: 20px;margin-top: 20px;}
.profile-op{margin-top:50px;margin-bottom:50px;font-size: 22px;text-align:center;}
.profile-op .next{display:inline-block;background-color:#31628a;color:white;;padding:15px 70px;}

/*选择专业*/
.major-win{display:none;position:absolute;top:50px;right:400px;z-index:10002;width:650px;padding: 5px;border-radius: 5px;background:url(../img/transGray.png);font-size:13px;}
.major-win-content{background-color:white;padding-bottom:5px;}
.major-win h2{background-color:#47644e;color:white;font-size:14px;padding:3px 10px;margin-bottom: 5px;}
.major-win h2 a{float:right;}
.major-win .content{margin: 10px 30px;}
.major-win .content .answer-container h5{position:relative;font-size:14px;color:#707070}
.addimg-s{position:absolute;right:0;background: url(../img/addimg-s.png) no-repeat 0 0;float: right;height: 20px;width: 20px;display: block;}
.answer-wrap{overflow-y: auto;margin-top: 5px;margin-bottom:15px;max-height: 250px;padding: 8px 10px;border: 1px solid #ccc;border-radius: 3px;box-shadow: 0 0 4px 0 rgba(0,0,0,.1) inset;-webkit-transition: min-height .25s ease-out;background: #fff;}
.major-container h4{font-size:14px;color:#707070;}
.major-container h4 span{margin-left: 10px;font-size:10px;color:#0088b5;}
.major-container .bargin{width: 520px;height: 165px;resize: none;}
.major-container label{margin-top:15px;font-size:14px;color:#707070;}
.major-op{margin:20px 0 20px 0;font-size:16px;}
.major-op .publish{background-color:#d73434;color:white;border-radius:4px;display: block;float: left;width: 100px;text-align: center;padding: 10px;margin-right:10px;}
.major-op .savedraft{background-color:#dd5a5a;color:white;border-radius:4px;display: block;float: left;width: 100px;text-align: center;padding: 10px;}
.grey{background-color:#d2d2d2}
.white{background-color:white;}
ul.major-wrap li{float:left;}
ul.major-wrap li.category{width:70px;color:#47644e;font-weight:700}
ul.major-wrap li.detail{width: 580px;}
ul.major-wrap li.detail a{width: 140px;display: inline-block;}
ul.major-wrap li.detail a:hover{background-color:#47644e;color:white;}

/*选择行业*/
.industry-win{display:none;position:absolute;top:50px;right:400px;z-index:10002;width:820px;padding: 5px;border-radius: 5px;background:url(../img/transGray.png);font-size:13px;}
.industry-win-content{background-color:white;padding-bottom:5px;}
.industry-win h2{background-color:#47644e;color:white;font-size:14px;padding:3px 10px;margin-bottom: 5px;}
.industry-win h2 a{float:right;}
.industry-win .selected{margin-bottom: 5px;}
.industry-win .selected h5{color:#47644e;float:left;font-size:14px;margin-right:20px;}
.industry-win .selected a{margin-left:5px;margin-right:5px;background-color: #47644e;color: white;padding: 0 6px;}
.industry-win .selected a em{color:red;padding: 5px;}
.industry-win .selected a:hover{background-color:#83BD91;color:white;}
.industry-win .content{margin: 10px 30px;}
.industry-win .content .answer-container h5{position:relative;font-size:14px;color:#707070}
.addimg-s{position:absolute;right:0;background: url(../img/addimg-s.png) no-repeat 0 0;float: right;height: 20px;width: 20px;display: block;}
.answer-wrap{overflow-y: auto;margin-top: 5px;margin-bottom:15px;max-height: 250px;padding: 8px 10px;border: 1px solid #ccc;border-radius: 3px;box-shadow: 0 0 4px 0 rgba(0,0,0,.1) inset;-webkit-transition: min-height .25s ease-out;background: #fff;}
.industry-container h4{font-size:14px;color:#707070;}
.industry-container h4 span{margin-left: 10px;font-size:10px;color:#0088b5;}
.industry-container .bargin{width: 520px;height: 165px;resize: none;}
.industry-container label{margin-top:15px;font-size:14px;color:#707070;}
.industry-op{margin:20px 0 20px 0;font-size:16px;}
.industry-op .publish{background-color:#d73434;color:white;border-radius:4px;display: block;float: left;width: 100px;text-align: center;padding: 10px;margin-right:10px;}
.industry-op .savedraft{background-color:#dd5a5a;color:white;border-radius:4px;display: block;float: left;width: 100px;text-align: center;padding: 10px;}
.grey{background-color:#d2d2d2}
.white{background-color:white;}
ul.industry-wrap li{float:left;}
ul.industry-wrap li.category{width:180px;color:#47644e;font-weight:700}
ul.industry-wrap li.detail{width: 640px;}
ul.industry-wrap li.detail a{width: 210px;display: inline-block;}
ul.industry-wrap li.detail a:hover{background-color:#47644e;color:white;}

/*选择职位*/
.position-win{display:none;position:absolute;top:50px;right:400px;z-index:10002;width:820px;padding: 5px;border-radius: 5px;background:url(../img/transGray.png);font-size:13px;}
.position-win-content{background-color:white;padding-bottom:5px;}
.position-win h2{background-color:#47644e;color:white;font-size:14px;padding:3px 10px;margin-bottom: 5px;}
.position-win h2 a{float:right;}
.position-win .selected{margin-bottom: 5px;}
.position-win .selected h5{color:#47644e;float:left;font-size:14px;margin-right:20px;}
.position-win .selected a{margin-left:5px;margin-right:5px;background-color: #47644e;color: white;padding: 0 6px;}
.position-win .selected a em{color:red;padding: 5px;}
.position-win .selected a:hover{background-color:#83BD91;color:white;}
.position-win .content{margin: 10px 30px;}
.position-win .content .answer-container h5{position:relative;font-size:14px;color:#707070}
.addimg-s{position:absolute;right:0;background: url(../img/addimg-s.png) no-repeat 0 0;float: right;height: 20px;width: 20px;display: block;}
.answer-wrap{overflow-y: auto;margin-top: 5px;margin-bottom:15px;max-height: 250px;padding: 8px 10px;border: 1px solid #ccc;border-radius: 3px;box-shadow: 0 0 4px 0 rgba(0,0,0,.1) inset;-webkit-transition: min-height .25s ease-out;background: #fff;}
.position-container h4{font-size:14px;color:#707070;}
.position-container h4 span{margin-left: 10px;font-size:10px;color:#0088b5;}
.position-container .bargin{width: 520px;height: 165px;resize: none;}
.position-container label{margin-top:15px;font-size:14px;color:#707070;}
.position-op{margin:20px 0 20px 0;font-size:16px;}
.position-op .publish{background-color:#d73434;color:white;border-radius:4px;display: block;float: left;width: 100px;text-align: center;padding: 10px;margin-right:10px;}
.position-op .savedraft{background-color:#dd5a5a;color:white;border-radius:4px;display: block;float: left;width: 100px;text-align: center;padding: 10px;}
.grey{background-color:#d2d2d2}
.white{background-color:white;}
ul.position-wrap li{float:left;}
ul.position-wrap li.category{width:180px;color:#47644e;font-weight:700}
ul.position-wrap li.detail{width: 640px;display:relative;}
ul.position-wrap li.detail a{width: 210px;display: inline-block;}
ul.position-wrap li.detail a:hover{background-color:#47644e;color:white;}
ul.position-wrap ul.sub{display:none;position:absolute;border: 1px solid #47644e;background-color: wheat;margin-top:-20px;width: 150px;}
ul.position-wrap ul.sub li{display:block;float:none;padding: 2px;}
ul.position-wrap ul.sub li:hover{background-color:#47644e;color:white;}

#pagemask-major, #pagemask-industry, #pagemask-position, #pagemask-q15a,#pagemask-q15b,#pagemask-q15c{
position: absolute;
display: none;
top: 0;
left: 0;
width: 100%;
background: #333;
z-index: 10001;
filter: alpha(opacity=30);
opacity: .3;
}

/*Q 14*/
.subquestion{display:none}

/*Q 15*/
.q15-win{display:none;position:absolute;top:50px;right:400px;z-index:10002;width:650px;padding: 5px;border-radius: 5px;background:url(../img/transGray.png);font-size:13px;}
.q15-win-content{background-color:white;padding-bottom:5px;}
.q15-win h2{background-color:#47644e;color:white;font-size:14px;padding:3px 10px;margin-bottom: 5px;}
.q15-win h2 a{float:right;}
.q15-win .q15-win-body{}
.q15-win .q15-win-body h1{color:#999999;font-weight:100;font-size:16px;margin:10px}
.q15-win .q15-win-body p{color:#222222;margin:15px;}
.q15-win .q15-win-body .op{text-align:center;}
.q15-win .q15-win-body .op a{color:white;background-color:#31628a;padding:15px 40px;display:inline-block;font-size:18px;margin:20px 0;}
.scene{margin-left:15px;}
.scene ul.head li{float:left;border:1px solid black;width:80px;border-left:none;padding:2px;text-align:center}
.scene ul.head li:first-child{border-left:1px solid black}
.scene ul.content li{float:left;border:1px solid black;width:80px;border-top:none;border-left:none;height: 40px;padding:2px;text-indent:5px;}
.scene ul.content li.unavail{background-color:#009cfb;}
.scene ul.content li em{display:block;}
.scene ul.content li:first-child{border-left:1px solid black}
.end-cont{width: 580px;margin: 100px auto;}
.main-body h1.clock{text-align:center;margin:20px 0;}
.main-body h1.clock em{color:#ff1122;padding:10px;}
.end-cont img{float:left;}
.end-cont .right{float:left;text-align:center;margin-left:20px;}
.end-cont .right h1{color:#2d1f07;border-bottom:1px solid #999;border-bottom: 1px solid #999;font-size: 54px;font-weight: 100;padding: 0 60px 10px;letter-spacing: 5px;}
.end-cont .right h3{color:#999999;padding-top: 10px;font-weight: 100;font-size:36px}
.result{text-align:center;font-size:15px;margin: 70px auto;width: 664px;}
.result table tr td{padding:10px;}
#sortable { list-style-type: none; margin: 0; padding: 0; width:50%;margin-left:150px; }
#sortable li { margin: 0 3px 3px 3px;padding: 5px;padding-left: 20px;font-size: 13px;height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }

.audio{margin:10px;line-height: 22px;font-size: 14px;}
.audio a{margin-left:10px;}

.auth-form {width: 400px;margin: 60px auto;}
.auth-form-header {position: relative;padding: 10px 20px;margin: 0;color: #fff;text-shadow: 0 -1px 0 rgba(0,0,0,0.3);background-color: #829aa8;border: 1px solid #768995;border-radius: 3px 3px 0 0;}
.auth-form-header h1 {margin-top: 0;margin-bottom: 0;font-size: 16px;}
.auth-form-body {padding: 20px;font-size: 14px;background-color: #fff;border: 1px solid #d8dee2;border-top: 0;border-radius: 0 0 3px 3px;}
.auth-form-body .input-block {margin-top: 5px;margin-bottom: 15px;}

input[type="text"], #adv_code_search .search-page-label, input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea {
min-height: 20px;
padding: 7px 8px;
font-size: 13px;
color: #333;
vertical-align: middle;
background-color: #fff;
background-repeat: no-repeat;
background-position: right center;
border: 1px solid #ccc;
border-radius: 3px;
outline: none;
box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
display:block;
width:320px;
}
.button, .minibutton {
position: relative;
display: inline-block;
padding: 7px 12px;
font-size: 13px;
font-weight: bold;
color: #333;
text-shadow: 0 1px 0 rgba(255,255,255,0.9);
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
background-color: #eee;
background-image: -webkit-linear-gradient(#fcfcfc, #eee);
background-image: linear-gradient(#fcfcfc, #eee);
background-repeat: repeat-x;
border: 1px solid #d5d5d5;
border-radius: 3px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../img/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../img/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../img/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../img/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}