<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="question">
	<resultMap type="QuestionEntity" id="QuestionResultMap">
	  <!---->
		<id property="id" column="id" />
   	  <!---->
		<id property="userId" column="user_id" />
   	  <!---->
		<id property="qid" column="qid" />
   	  <!---->
		<id property="choice" column="choice" />
		<id property="time" column="time" />
		<id property="gmtcreate" column="gmtcreate" />
	</resultMap>

	<select id="queryQuestion" parameterType="QuestionEntity" resultMap="QuestionResultMap">
	<![CDATA[
		SELECT * from t_question t WHERE t.user_id = #{userId} and qid = #{qid}
	]]>
	</select>
	
	<insert id="insertQuestionEntity" parameterType="QuestionEntity">
		
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey> 
		insert into t_question
		(
		id
		,user_id
		,qid
		,choice
		,time
		,gmtcreate
		)
		values
		(
		#{id}
		,#{userId}
		,#{qid}
		,#{choice}
		,#{time}
		,now()
		)
	</insert>
</mapper>
	